@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

*{
  background-image: url(../images/bg.jpg);
  font-family: 'Raleway', sans-serif;

}
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #a04da3be;
    border-radius: 5px;
    margin-top: 15%;
  }

  .submit{
    font-weight: 900;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #a2caa3;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }

  .logo{
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: 30px;
  }
  .titulo{
    color: white;
    margin-left: 70px;
  }

  a{
    text-decoration: none;
}
ul{
    list-style: none;
}
input,button,textarea{
    border: none;
    outline: none;
}
/*****************NAVIGATION*************/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
nav ul{
    display: flex;
}
nav ul li a{
    height: 40px;
    line-height: 43px;
    margin: 3px;
    padding: 0 22px;
    display: flex;
    font-size: 0.73rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.6s ease-in-out;
    color: #ffffff;
}
nav ul li a:hover{
    background-color: #fc6f41;
    color: #fff;
    box-shadow: 5px 10px 30px rgba(252, 59, 0, 0.397);
}
  